@using System.Linq.Expressions
@using BlazorQueryBuilder.ExpressionVisitors
<MudStack Spacing="5">
    <Predicate Expression="@GetLeft()"
               Parameter="@Parameter"
               OnChange="@ChangeLeft"
               OnRemove="@RemoveLeft">
    </Predicate>
    <div>
        <MudSelect T="string" Label="Operator" Value="@Binary.NodeType.ToString()" ValueChanged="ChangeOperator">
            @foreach (var item in Operators)
            {
                <MudSelectItem T="string" Value="@item.Key">@item.Value</MudSelectItem>
            }
        </MudSelect>
    </div>
    <Predicate Expression="@GetRight()"
               Parameter="@Parameter"
               OnChange="@ChangeRight"
               OnRemove="@RemoveRight">
    </Predicate>
</MudStack>

@code {

    Dictionary<string, string> Operators = new Dictionary<string, string>
    {
        {"AndAlso", "And"},
        {"OrElse", "Or"},
    };

    [Parameter]
    public Action<BinaryExpression> OnChange { get; set; }

    [Parameter]
    public BinaryExpression Binary { get; set; }

    [Parameter]
    public ParameterExpression Parameter { get; set; }

    protected override void OnInitialized()
    {
    }

    private BinaryExpression GetLeft()
    {
        return (BinaryExpression)Binary.Left;
    }

    private BinaryExpression GetRight()
    {
        return (BinaryExpression)Binary.Right;
    }

    private void ChangeLeft(Expression left)
    {
        Binary = Expression.MakeBinary(Binary.NodeType, left, Binary.Right);
        OnChange(Binary);
    }

    private void ChangeRight(Expression right)
    {
        Binary = Expression.MakeBinary(Binary.NodeType, Binary.Left, right);
        OnChange(Binary);
    }

    private void ChangeOperator(string op)
    {
        var expressionType = (ExpressionType)Enum.Parse(typeof(ExpressionType), op);

        Binary = Expression.MakeBinary(expressionType, Binary.Left, Binary.Right);
        OnChange(Binary);
    }

    private void RemoveLeft()
    {
        var newBinary = new CopyExpression(Binary.Right).Copy();
        OnChange((BinaryExpression)newBinary);
    }

    private void RemoveRight()
    {
        var newBinary = new CopyExpression(Binary.Left).Copy();
        OnChange((BinaryExpression)newBinary);
    }
}